#Menu
{
    margin: 5px 5px;
}
@font-face
{
    src: url(9YkBDt4T.ttf);
    font-family: customFont;
}
.sampleParagraph
{
    font-size: 14px;
    color: #FFF;
}
.codeHolder
{
    resize: none;
}
.ownContextMenu
{
    display:block;
    z-index: 2;
    top: 0;
    font-weight: bold;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    background-color: rgb(40, 226, 19);
    color:  #FFF;
}
.ownContextMenu span:hover
{
    cursor: pointer;
    color: #ff0000;
}
#pagesWrapper
{
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.6);
}
#leftSideWrap
{
    position: relative;
    height: 100%;
    width: 100%;
}
#leftBar
{
    font-family: customFont;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    z-index: 0;
    font-size: 40px;
    height: 100%;
    width: 100%;
}
#wrapEl
{
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}
#elementsList
{
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(255,255,255,.6);
    z-index: 1;
    position: relative;
    display: block;
}
.pagesBanner
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: #FFF;
    font-family: customFont;
}
#pagesLinks
{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#pagesLinks ul
{
    margin-top: 5px;
    padding: 0px 0px 0px 20px;
}
#page
{
    width: 100%;
    height: 100%;
}
.sampleBlock
{
    width: 200px;
    height: 20px;
    color: #FFF;
    background-color: #f79916;
    font-size:  14px;
    text-align: center;
    border-radius: 5px;
    cursor: move;
}
.menuDiv
{
    display: inline-block;
    background-color: #621a4d;
    color: #FFF;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.menuDiv:hover
{
   background-color: #f10e0e;
}
#Content
{
    font-size: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #808080;
    position:relative;
}
#pages
{
    margin-left: 5px;
    font-size:16px;
    width: calc(20% - 10px);
    position: absolute;
    background-color: rgba(24, 185, 228, 0.81);
    height: 80px;
}
#leftSideBar
{
    margin: 5px 5px;
    background-color: rgba(238, 240, 57, 0.91);
    color: #16204e;
    font-weight:  bold;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    display: inline-block;
    width: calc(20% - 10px);
}
#leftSideBar span:hover
{
    cursor: pointer;
    background-color: rgba(24, 185, 228, 0.81);
    color:  #FFF;
    border-radius: 3px;
}
#blocksArea
{
    display: block;
    width: 100%;
    height: 100%;
}
#pageHolder
{
    overflow-y: auto;
    float: right;
    position: absolute;
    width:  calc(100% - 5px);
    height: calc(100% - 40px);
    display: block;
    border: 1px solid white;
}
#Menu input
{
    border-radius: 5px;
    border:  1px solid rgb(40, 226, 19);
    padding: 5px;
}
#topMenuBar
{
    margin-top: 5px;
    position: absolute;
    display: inline-block;
    width: calc(80% - 10px);
    height: 100%;
}
.singleTab
{
    margin-left: 5px;
    font-size: 16px;
    display: inline-block;
    color:  #FFF;
    background-color: #2cd3de;
    border-radius: 4px 4px 0px 0px;
    padding: 5px;
    cursor: pointer;
}

.singleTab:hover, .singleTab:active
{
    background-color: #0a38ec;
}
body, html
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
}